body {
  background-color: black;
  color: white;
}

#nav-bar {
  position: relative;
  top: 12cm;
}

#description {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#table-head {
  color:lawngreen;
  text-align: center;
}

#t-body{
  color: whitesmoke;
  text-align: center;
}