body {
  background-color: black;
  color: white;
}

#nav-bar {
  position: relative;
  top: 12cm;
}

#description {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#table-head {
  color: white;
}

#button {
  border: none;
  padding: 7px;
  border-radius: 0;
  outline: 0;
}
